.tabButton {
  padding: 5px 5px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid #ccc;
  background-color: #efefef;
  min-width: 40px;
  width: 3.84%;
  cursor: pointer;
}

.tabButton:disabled {
  cursor: default;
}

.tabButton:hover {
  background-color: #ddd;
}

.selected {
  border-bottom: 1px solid #eee;
  background-image: linear-gradient(to bottom, #ccc, #efefef);
}

.buttonValue {
  font-size: 20px;
}

.buttonLength {
  font-size: 8px;
  margin-left: 5px;
  min-width: 50px;
}
